*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: black;
    text-align: center;
}

h1,h2,h3,h4,h5,h6,p,fieldset,textarea,input,form, button, section{
    font-family: 'Nunito', sans-serif;
}

h1{
    color: goldenrod;
    text-align: center;
    margin-top: 10px;
}

h2{
    color: dodgerblue;
}


input[type="button"]{
    padding: 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0px 0px 5px 0px #999;
    cursor: pointer;
    margin: 10px 10px;
    transition: 0.3s ease-in-out;
}
input[type="button"]:hover{
    background-color: goldenrod;
    color: #FFFFFF;
}

fieldset{
    border: 0;
    justify-items: space-evenly;
}

.rgb{
    flex-flow: block;
}

form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    line-height: 30px;
    justify-content: center;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 0px #999;
}

#feeds{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 50vw;
    height: 100px;
    height: auto;
    padding: 20px;
}

#feeds section{
    text-align: center;
}

#feeds h2{
    color: goldenrod;
}

button{
    width: 20%;
    padding: 15px;
    margin: 10px auto 40px auto;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #999;
    cursor: pointer;
    background-color: #EEEEEE;
    color: #000;
    font-size: 12pt;
    transition: 0.3s ease-in-out;
    outline: none;
}

#filters{
    display: flex;

}

button:hover{
    background-color: dodgerblue;
    color: #FFFFFF;
}

.strip{
    position: absolute;
    width: 25vw;
    height: 95vh;
    top: 10px;
    overflow-y: scroll;
}

.strip img{
    width: 100px;
    background: #FFFFFF;
    overflow-x: scroll;
    margin: 10px;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

video{
    width: 90%;
    padding: 5px;
    display: none;
}

canvas{
    width: 90%;
    padding: 5px;

}